$dark-0: #17153B;
$dark-1: #2f2a4c;
$dark-2: #403e58;
$dark-3: #a175b7;
$header: #181631;
$bg-color: rgb(39, 39, 39);
$white: rgb(255, 255, 255);
$h-display: rgb(255, 255, 255);
$grey: rgb(172, 172, 172);
$light-grey: #555555;
$right-answer: rgb(26, 100, 41);
$button-color: #282866;
$link-button-color: rgb(0, 119, 199);