$dark-0: #17153B;
$dark-1: #2E236C;
$dark-2: #4d497b;
$dark-3: #a175b7;
$bg-color: rgb(52, 52, 52);
$white: rgb(255, 255, 255);
$h-display: rgb(224, 224, 224);
$grey: rgb(172, 172, 172);
$light-grey: #555555;
$right-answer: rgba(0, 255, 51, 0.486);
$button-color: #5E5DF0;