.account-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 1vh;
}


.account-main-tab {
    margin: 4vh 4vw 4vh 4vw;
    margin-top: 8vh;
    width: 50%;
}