@import "src/utilities.scss";

.question-label {
    margin-left: 2vh;
}

.question {
    padding: 1vh 0 2vh 0;
    width: 80%;
}

.question > select {
    display: flex;
    flex-direction: column;
    width: 80%;
}